.container{
    width: 20%;
    margin: auto;
    height: 30%;
}
@media  screen and (min-width:760px){
    .container{
        width: 30%;
    }
}
.detail{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image{
    width: 100%;
    border-radius: 10%;
}

.content{
    width: 100%;
}

@media screen and(min-width: 760px){
    .detail__image{
        width: 30%;
    }
    .content{
        padding-left: 3rem;
        width: 50%;
    }
}